@charset "UTF-8";

:root {
    --color0: rgb(250, 234, 218);
    --color1: rgb(142, 223, 250);
    --color2: rgb(142, 189, 250);
    --color3: rgb(142, 155, 250);
    --color4: rgb(142, 121, 250);
    --color5: rgb(142, 87, 250);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container-class {
    background-color: var(--color0);
    width: 400px;
    border: 1px solid black;
}


/* Electricity */

.container-electricity-id {
    height: 50px;
}

#buttonTurnOn-id {
    padding: 10px;
    margin: 15px;
    width: 80px;
    cursor: pointer;
}

hr {
    margin-top: 30px;
    width: 400px;
}


/* Stove */

.container-stove-class {
    margin-top: 30px;
}

.stove-class {
    padding: 20px;
}

.stove-button-class {
    padding: 10px;
    margin: 10px 0px 0px 70px;
    width: 80px; 
}

#stove01-id {
    background-color: var(--color2);
    border: 1px solid gray;
    cursor: pointer;
}

#stove02-id {
    background-color: var(--color3);
    border: 1px solid gray;
    cursor: pointer; 
}

#stove03-id {
    background-color: var(--color4);
    border: 1px solid gray;
    cursor: pointer;          
}

#stove04-id {
    background-color: var(--color5);
    border: 1px solid gray;
    cursor: pointer;           
}


/* Oven */

.container-oven-class {
    margin-top: 30px;
}

#lighterOven-id {
    padding: 10px;
    margin: 15px;
    width: 80px;
    background-color: var(--color1);
    border: 1px solid gray;
    cursor: pointer;
}

#turnLight-id {
    padding: 10px;
    margin: 15px;
    width: 80px;
    cursor: pointer;
}
